@font-face {
    font-family: "dizhitl-bold";
    src: url("../font/dizhitl-blackitalic.ttf");
}
@font-face {
    font-family: "dizhitl-medium";
    src: url("../font/dizhitl-mediumitalic.ttf");
}